img {
    width: 800px;
    padding: 100px 70px;
}

span {
    color: grey;
    font-size: large;
    font-weight: 600;
    padding: 15px 5px;
}

p {
    color: white;
    font-size: large;
    font-weight: 400;
}